.u-section-1 .u-sheet-1 {
  min-height: 596px;
}

.u-section-1 .u-text-1 {
  margin: 35px auto 0;
}

.u-section-1 .u-form-1 {
  height: 289px;
  width: 570px;
  margin: 99px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 526px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-form-1 {
  height: 389px;
  margin: 31px 570px 0 0;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-form-2 {
  height: 389px;
  margin: -389px 0 54px 570px;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 570px;
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-right: 150px;
  }

  .u-section-2 .u-form-2 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-form-2 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-form-2 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 60px;
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 60px;
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto;
}

.u-section-5 .u-form-1 {
  height: 311px;
  width: 570px;
  margin: 43px auto 60px;
}

@media (max-width: 767px) {
  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 0 auto 60px;
}.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-text-1 {
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 0 auto 60px;
}.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-text-1 {
  margin: 0 auto;
}

.u-section-8 .u-form-1 {
  height: 311px;
  width: 570px;
  margin: 43px auto 60px;
}

@media (max-width: 767px) {
  .u-section-8 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-form-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 500px;
}

.u-section-9 .u-text-1 {
  margin: 0 39px;
}

.u-section-9 .u-form-1 {
  height: 311px;
  margin: 43px 264px 60px 306px;
}

.u-section-9 .u-form-group-1 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-form-1 {
    margin-right: 164px;
    margin-left: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-form-1 {
    margin-right: 54px;
    margin-left: 96px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}