html {
    background-color: #FFFFFF;
  }

h1 {
    color: #696969;
    text-align: center;
    padding: 20px;
}

p {
    color: #696969;
    text-align: center;
    padding: 20px;
}

.gallery {
    width: 100%;
}

.gallery IMG {
    margin-right:1.9%;
}

nav ul {
    display: inline-block;
    cursor: pointer;
}