{% extends 'base.html' %}

{% block content %}
    <!--div> 
        <nav--> <!-- определяет секцию документа, в которой находится навигация -->
            <!--ul class="navbar-nav"--> <!-- неупорядоченный список -->
                <!--a class="nav-link" href="{{ url_for('shop?filter=portret')}}">Портрет</a>
                <a class="nav-link" href="{{ url_for('shop?filter=landscape')}}">Пейзаж</a>
                <a class="nav-link" href="{{ url_for('shop?filter=stilllife')}}">Натюрморт</a>
                <a class="nav-link" href="{{ url_for('shop?filter=forest')}}">Лес</a>
            </ul>
        </nav>
  </div-->

фыл
